@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    color: #343633;
}

footer {
    display:flex;
    background-color: #fde482;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 18px;
}

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fde482;
    padding: 20px 40px;
}

.logo, .news {
    font-size: 25px;
    font-weight: 700;
}

.right, p {
    font-size: 18px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #343633;
}

.one {
    display: flex;
    background-color: #fffaeb;
    /* background-color: #fde482; */
    justify-content: space-around;
    padding: 20px;   
}

h1 {
    font-size: 50px;
    font-weight: 900;
}

.three {
    display: flex;
    background-color: #fffaeb;
}

.four {
    background-color: #fde482;
    margin: 80px;
}

.quote {
    font-size: 35px;
    font-weight: 200;
}