@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    color: #343633;
}

a {
    text-decoration: none;
    color: #343633;
}

img {
    border-radius: 20px;
}

button {
    border-radius: 25px;
    padding: 20px;
    border-style: none;
    font-size: 18px;
    font-family: inherit;
    color:#fffaeb;
    background-color: #343633;
}

/* HEADER */
.headlock {
    background-color: #fde482;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    width: 100%;
    max-width: 1200px;
    
}

.logo, .news {
    font-size: 25px;
    font-weight: 700;
}

.links, p {
    font-size: 18px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

/*SEC ONE*/
.onelock {
    display: flex;
    justify-content: center;
    background-color: #fffaeb;

}
.one {
    display: flex;
    /* background-color: #fde482; */
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    gap: 20px;
    flex-wrap:wrap-reverse;
    max-width: 1000px;
}

.intro {

    flex: 1 0 400px;
}

.imone > img {
    display:block;
}

h1 {
    font-size: 50px;
    font-weight: 900;
}

/* SEC TWO */
.two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

h2 {
    font-size: 40px;
    font-weight: 900;
}

.p-work {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}


.crois, .pastr, .lemo, .choco {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 200px;
    text-align: center;
}

.imtwo {
    border-style: solid;
    border-color:#343633;
    border-width: thick;
    width: 200px;
    height: auto;
}

/* SEC THREE */
.three {
    background-color: #fffaeb;
    padding: 100px 200px;
    display: flex;
    justify-content: center;
}


.full-quote {
    max-width: 700px;
}

.quote {
    font-size: 35px;
    font-weight: 200;
    text-align: center;
}

.quotee {
    text-align: right;
}

/* SEC FOUR */

.call {
    background-color: #fde482;
    margin: 80px;
    padding: 40px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-radius: 25px;
    max-width: 1500px;
}

.four {
    display: flex;
    justify-content: center;
}

.botbut {
    border-style: solid;
    border-width: thick;
    border-color:#fffaeb;
}

/* FOOTER */

footer {
    display:flex;
    background-color: #fde482;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    text-align: center;
}